{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": false
			}
		],
		"@babel/typescript"
	],
	"plugins": [
		[
			"@babel/plugin-transform-runtime",
			{
				"absoluteRuntime": false,
				"corejs": 3
			}
		]
		// "@babel/proposal-class-properties",
		// "@babel/proposal-object-rest-spread"
	]
}
